<!-- views/partials/head.ejs -->
<head>
    <meta charset="UTF-8">
    <title>Dash Of Oats</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
