extend layout

block content

  h1 About
  p The recipes on this website were taken from:
  ul
    li: a(href='https://food52.com/') Food 52
    li: a(href='https://geniuskitchen.com/') Genius Kitchen
    li: a(href='http://www.kitchentreaty.com') Kitchen Treaty    
    li: a(href='http://www.savoringspoon.com/') Savoring Spoon
    li: a(href='https://saretaskitchen.wordpress.com') Sareta's Kitchen
    li: a(href='https://www.thespruce.com/') The Spruce
    li: a(href='https://tiphero.com/') Tip Hero
    
