extend layout

block content

  h1 About
  p The recipes on this website were taken from:
  a(href='http://www.kitchentreaty.com') Kitchen Treaty
  br
  a(href='https://saretaskitchen.wordpress.com') Sareta's Kitchen
  br
  a(href='https://food52.com/') Food 52
