<!DOCTYPE html>
<html lang='en'>
    <% include partials/head %>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main class='main-content'>
            <div class='recipe_ingredients'>
                <h1>Chocolate Babka</h1>
                <img src='/images/chocolate_babka.jpg'/>
                <p>Serves: <input type='number' id='quantity' value='1' min='1' max='10'/></p>
                <h3>Ingredients:</h3>
                <div id='chocolate_babka'>
                    <ul>
                        <li>3/4 cups soy milk [dry]</li>
                        <li>2 tsp instant dry yeast [dry]</li>
                        <li>1/4 cups coconut sugar [dry]</li>
                        <li>2 cups flour [dry]</li>
                        <li>1/2 tsp salt [dry]</li>
                        <li>1/3 cups coconut oil, softened [dry]</li>
                        <li>2 tbs vegan butter, softened [dry]</li>
                        <li>1/2 cups coconut sugar [wet]</li>
                        <li>1.5 tbs cacao [wet]</li>
                        <li>1 tsp ground cinnamon [wet]</li>
                        <li>1/4 tsp salt [wet]</li>
                        <li>2 tbs coconut oil, softened [wet]</li>
                        <li>2 tbs vegan butter, softened [wet]</li>
                        <li>1/3 cups chocolate chips [wet]</li>
                        <li>1 tbs coconut sugar [glazing]</li>
                        <li>1.5 tbs water [glazing]</li>
                    </ul>
                </div>
                <h3>Instructions:</h3>
                <ol>
                    <li>Make the dough. In a jug, warm the soy milk to 37°C-45°C, which is the perfect temperature to activate yeast in. Add the yeast and 1 teaspoon of the coconut sugar. Leave to activate for 10 minutes. You will know it's ready when the mix forms a layer of foam on the top. If it doesn't, check to see if your yeast is past its used by date or wait a little longer.</li>
                    <li>In the mixing bowl of a stand mixer, add the rest of the coconut sugar, flour and salt. Using your fingertips, rub in the softened coconut oil and vegan butter. On a low speed with the dough hook attached, begin mixing the dry ingredients. Slowly add the wet ingredients. Knead for 8-10 minutes, until it bounces back when lightly touched. You can knead by hand if you don't own a stand mixer.</li>
                    <li>Transfer the dough to a greased bowl, cover with a tea towel and place in a warm area to prove for 40-60 minutes or until doubled in size. Here's what I do. Preheat my oven to 40°C, turn it off and place the bowl in there with the oven door closed.</li>
                    <li>Meanwhile make the filling. In a small bowl, stir all the ingredients together except for the chocolate chips. Place to one side.</li>
                    <li>Assemble loaf. Line and lightly grease a bread tin. After the dough has doubled in size, place on a lightly floured surface and knead a few times to knock back the air. Roll out to an even 30x40cm/ 12"x16" rectangle. I used my ruler for this. Spread the filling over the top, leaving a 1.5cm/ ½" gap all around the sides. Sprinkle over the chocolate chips.</li>
                    <li>Tightly roll the dough to form a 40cm long log. Cut 1.5cm/ ½" off both ends. Gently cut the log in half lengthways and have the cut sides facing up. Begin to twirl together. Pinch and twirl the bottom end together to keep the dough in place (refer to pictures). Lift one side over the over, to form a twist. Always keeping the cut sides facing up. Carefully transfer the bread into the greased bread tin. Mine was long enough to form an "S" in the tin, tucking the edges into the openings (refer to pictures). During the second proving and baking, all the small gaps will be filled. Cover with with a tea towel and place in a warm area for another 60-90 minutes to double in size.</li>
                    <li>Preheat the oven to 160°C fan forced. Bake babka for 40-45 minutes, until golden in appearance. Remove from oven, brush with sugar syrup and leave to cool in the tin for 10 minutes before removing and serving warm.</li>
                    <li>To make sugar syrup, combine the coconut sugar and water in a small saucepan . Leave to boil over a medium high heat. Once the sugar dissolves remove from heat.</li>
                </ol>
            </div>
        </main>
        <% include partials/footer %>
        <% include partials/scripts %>
    </body>
</html>
