extend layout

block content
  
  div.recipe_ingredients
    h1 Chocolate Chip Cookies
    img(src='/images/chocolate_chip_cookies.jpg')
    p.serves Serves: #[input(type='number', id='quantity', value='1', min='1', max='10')]
    h3 Ingredients:
    div#chocolate_chip_cookies
      ul
        li 2 cups all-purpose flour
        li 1 tsp baking powder
        li 3/4 tsp baking soda
        li 1/2 tsp fine salt
        li 1 cup dark chocolate chips
        li 1/2 cup sugar
        li 1/2 cup dark brown sugar
        li 1/2 cup canola oil
        li 1/4 cup water

    h3 Instructions:
    ol
      li In a large bowl, whisk together flour, baking powder, baking soda, and salt. Add the chocolate chips to the flour mixture and toss to coat.
      li In a separate large bowl, whisk the sugars briskly with the canola oil and water until smooth and incorporated, about 2 minutes. Note: Use fresh, soft light brown sugar. If there are clumps, break them up with the back of a spoon or your hand before whisking.
      li Add the flour mixture to the sugar mixture, and then stir with a wooden spoon or a rubber spatula until just combined and no flour is visible. Do not overmix.
      li Cover with plastic wrap. Refrigerate the dough for at least 12 hours and up to 24 hours. Do not skip this step.
      li Preheat the oven to 175 degrees Celsius. Line two rimmed sheet pans with parchment paper. Remove dough from the refrigerator and use an ice cream scoop or a spoon to portion dough into 2-inch mounds. We recommend freezing the balls of dough for 10 minutes before baking as the cookies will retain their shape better while baking.
      li Sprinkle the balls of dough with coarse-grained sea salt (if freezing, remove balls of dough from the freezer first), and bake for 12 to 13 minutes, or until the edges are just golden. Do not overbake. 

  script(src='/javascripts/recipe_data.js')
  script(src='/javascripts/recipe_calculator.js')
