<!DOCTYPE html>
<html lang='en'>
    <% include partials/head %>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main class='main-content'>
            <div class='recipe_ingredients'>
                <h1>Chocolate Chip Cookies</h1>
                <img src='/images/chocolate_chip_cookies.jpg'/>
                <p>Serves: <input type='number' id='quantity' value='1' min='1' max='10'/></p>
                <h3>Ingredients:</h3>
                <div id='chocolate_chip_cookies'>
                    <ul>
                        <li>2 cups all-purpose flour</li>
                        <li>1 tsp baking powder</li>
                        <li>0.75 tsp baking soda</li>
                        <li>0.5 tsp fine salt</li>
                        <li>1 cup dark chocolate chips</li>
                        <li>0.5 cup sugar</li>
                        <li>0.5 cup dark brown sugar</li>
                        <li>0.5 cup canola oil</li>
                        <li>0.25 cup water</li>
                    </ul>
                </div>
                <h3>Instructions:</h3>
                <ol>
                        <li>In a large bowl, whisk together flour, baking powder, baking soda, and salt. Add the chocolate chips to the flour mixture and toss to coat.</li>
                        <li>In a separate large bowl, whisk the sugars briskly with the canola oil and water until smooth and incorporated, about 2 minutes. Note: Use fresh, soft light brown sugar. If there are clumps, break them up with the back of a spoon or your hand before whisking.</li>
                        <li>Add the flour mixture to the sugar mixture, and then stir with a wooden spoon or a rubber spatula until just combined and no flour is visible. Do not overmix.</li>
                        <li>Cover with plastic wrap. Refrigerate the dough for at least 12 hours and up to 24 hours. Do not skip this step.</li>
                        <li>Preheat the oven to 175 degrees Celsius. Line two rimmed sheet pans with parchment paper. Remove dough from the refrigerator and use an ice cream scoop or a spoon to portion dough into 2-inch mounds. We recommend freezing the balls of dough for 10 minutes before baking as the cookies will retain their shape better while baking.</li>
                        <li>Sprinkle the balls of dough with coarse-grained sea salt (if freezing, remove balls of dough from the freezer first), and bake for 12 to 13 minutes, or until the edges are just golden. Do not overbake. </li>
                </ol>
            </div>
        </main>
        <% include partials/footer %>
        <% include partials/scripts %>
    </body>
</html>
