<!DOCTYPE html>
<html lang='en'>
    <% include partials/head %>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main class='main-content'>
            <div class='recipe_ingredients'>
                <h1>Cinnamon Swirl Cake</h1>
                <img src='/images/cinnamon_swirl_cake.jpg'/>
                <p>Serves: <input type='number' id='quantity' value='1' min='1' max='10'/></p>
                <h3>Ingredients:</h3>
                <div id='cinnamon_swirl_cake'>
                    <ul>
                        <li>2.5 cups all-purpose flour [dry]</li>
                        <li>4 tbs cornstarch [dry]</li>
                        <li>1.5 tsp baking powder [dry]</li>
                        <li>1 tsp baking soda [dry]</li>
                        <li>1 tsp salt [dry]</li>
                        <li>2 cups soy milk [wet]</li>
                        <li>2 tsp apple cider vinegar [wet]</li>
                        <li>2/3 cups canola oil [wet]</li>
                        <li>1.5 cups granulated sugar [wet]</li>
                        <li>4 tsp vanilla extract [wet]</li>
                        <li>1/2 tsp almond extract [wet]</li>
                        <li>1/2 cups brown sugar [filling]</li>
                        <li>2 tsp cinnamon [filling]</li>
                        <li>1 cups sifted confectioner's sugar [glazing]</li>
                        <li>2 tbs soy milk [glazing]</li>
                        <li>1 tsp vanilla extract [glazing]</li>
                    </ul>
                </div>
                <h3>Instructions:</h3>
                <ol>
                    <li>Preheat the oven to 176 degrees Celsis and butter a bundt cake pan.</li>
                    <li>Mix the soy milk and apple vinegar together and stir vigorously. Set aside to rest for 15 minutes.</li>
                    <li>Prepare the filling by mixing the brown sugar and cinnamon together.</li>
                    <li>Whisk the dry ingredients together in a large bowl, and the wet ingredients together in a smaller bowl. Combine and mix till batter is just combined.</li>
                    <li>Pour ½ the batter into the pan. Add the cinnamon sugar filling mixture, poured evenly to cover the batter already in the pan. Now pour the remainder of the batter over the filling layer.</li>
                    <li>Drag a spoon in a circle around the cake, with the spoon placed in the center of the batter. This makes the cinnamon sugar layer curved when the cake bakes.</li>
                    <li>Bake for 55 minutes, or until a toothpick inserted in the center comes out clean.</li>
                </ol>
            </div>
        </main>
        <% include partials/footer %>
        <% include partials/scripts %>
    </body>
</html>
