<!DOCTYPE html>
<html lang='en'>
    <% include partials/head %>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main class='main-content'>
            <div class='recipe_ingredients'>
                <h1>Energy Bars</h1>
                <img src='/images/energy_bars.jpg'/>
                <p>Serves: <input type='number' id='quantity' value='1' min='1' max='10'/></p>
                <h3>Ingredients:</h3>
                <div id='energy_bars'>
                    <ul>
                        <li>1 cups rolled oats</li>
                        <li>1 cups pitted dates</li>
                        <li>1/4 cups shredded coconut</li>
                        <li>1/2 cups of your chosen ingredients (dried fruit, nuts, seeds)</li>
                        <li>1 tbs coconut oil</li>
                    </ul>
                </div>
                <h3>Instructions:</h3>
                <ol>
                    <li>Soak the dates in room temperature water for at least 10 minutes, ideally longer.</li>
                    <li>Line a baking tray with some baking parchment that is twice it’s length so that half rolls off one end.</li>
                    <li>Put your oats and other ingredients in a large bowl.</li>
                    <li>Drain and wash the dates and put in a food processor. Blend until they have turned into a sticky paste. Persevere here – it will blend! If it needs a little help add 1/2 – 1 tbsp of melted coconut oil.</li>
                    <li>Once blended add to the oat mix.</li>
                    <li>Once loosely blended turn it out on to the baking tray and flatten slightly. Fold the other half of the parchment over the mixture and flatten with your hands. Use a rolling pin to flatten it out completely into a square or rectangle, using your hands to mould and straighten the edges.</li>
                    <li>Put in the fridge for at least two hours to allow to set. Once set use a knife to cut into bars.</li>
                </ol>
            </div>
        </main>
        <% include partials/footer %>
        <% include partials/scripts %>
    </body>
</html>
