extend layout

block content

  div.recipe-ingredients
    h1 Banana oat pancakes
    img(src='/images/pancakes.jpeg')
    p.serves Serves: #[input(type='number', id='quantity', value='1', min='1', max='10')]
    h3 Ingredients:
    ul
      li#ingr0 1 tbs white vinegar
      li#ingr1 7/8 cup unsweetened almond milk
      li#ingr2 2 cups rolled oats
      li#ingr3 1 medium ripe banana
      li#ingr4 2 tsp baking powder
      li#ingr5 1/2 tsp baking soda
      li#ingr6 1/2 tsp ground cinnamon
      li#ingr7 1/2 tsp salt
      li#ingr8 3 tbs maple syrup
      li#ingr9 2 tsp vanilla extract
    script.
      $(":input").on('change', function () {
        var ingredients = [1, 7/8, 2, 1, 2, 1/2, 1/2, 1/2, 3, 2];
        var qty = document.getElementById('quantity').value;
        for (var i = 0; i < ingredients.length; i++) {
          var text = document.getElementById('ingr'+i).innerText;
          var amt = ingredients[i];
          document.getElementById('ingr'+i).innerHTML = text.replace(/\d\.\d+|\d\/\d|\d+/,amt*qty);
        }
      });
    h3 Instructions:
    ol
      li Add the vinegar to a 1-cup or larger liquid measuring cup. Pour in enough almond milk to make 1 cup total. Set aside for about 5 minutes.
      li Meanwhile, grind the oats into a flour by adding them to the pitcher of a blender and pulsing until fine.
      li Add the remaining ingredients to the blender. Puree, scraping down the sides once or twice if necessary, until completely combined.
      li Let the batter rest for about 5 minutes.
      li Heat a griddle or non-stick frying pan to about 325 degrees Fahrenheit (medium heat). It’s hot enough when you sprinkle a couple drops of water onto the surface and the drops dance around. If the griddle/pan is nonstick, you shouldn’t need any oil/vegan butter. Otherwise, you may want to melt a little oil into the pan before cooking the pancakes. Pour approx. 1/3 cup per pancake onto the griddle or pan (the pancakes will be 4-5 inches in diameter). Cook for 1-2 minutes until the pancakes look dry around the edges and a little bubbly. Flip and cook on the other side until golden brown and cooked in the middle. If the pancakes brown before the middle is cooked through, try lowering your heat a bit.
      li Serve with toppings of your choice.

  div.recipe-ingredients
    h1 Oat and date energy bars
    img(src='/images/energy-bars.jpg')
    p.serves Serves: #[input(type='number', name='servings', value='1', min='1', max='10')]
    h3 Ingredients:
    ul
      li 1 cup rolled oats
      li 1 cup pitted dates
      li 1/4 cup shredded coconut
      li 1/2 – 1 cup of your chosen ingredients (dried fruit, nuts, seeds)
      li 1 tbs coconut oil

    h3 Instructions:
    ol
      li Soak the dates in room temperature water for at least 10 minutes, ideally longer.
      li Line a baking tray with some baking parchment that is twice it’s length so that half rolls off one end.
      li Put your oats and other ingredients in a large bowl.
      li Drain and wash the dates and put in a food processor. Blend until they have turned into a sticky paste. Persevere here – it will blend! If it needs a little help add 1/2 – 1 tbsp of melted coconut oil.
      li Once blended add to the oat mix.
      li Once loosely blended turn it out on to the baking tray and flatten slightly. Fold the other half of the parchment over the mixture and flatten with your hands. Use a rolling pin to flatten it out completely into a square or rectangle, using your hands to mould and straighten the edges.
      li Put in the fridge for at least two hours to allow to set. Once set use a knife to cut into bars.
