<!DOCTYPE html>
<html lang='en'>
    <% include partials/head %>
    <body>
        <% include partials/header %>
        <% include partials/nav %>
        <main class='main-content'>
            <h2>Sauces</h2>
            <p><a href='/sweet_and_sour_sauce'>Sweet & Sour Sauce</a></p>
            <p><a href='/teriyaki_sauce'>Teriyaki Sauce</a></p>
            <h2>Snacks</h2>
            <p><a href='/energy_bars'>Energy Bars</a></p>
            <h2>Sweets</h2>
            <p><a href='/banana_pancakes'>Banana Pancakes</a></p>
            <p><a href='/chocolate_babka'>Chocolate Babka</a></p>
            <p><a href='/chocolate_cake'>Chocolate Cake</a></p>
            <p><a href='/chocolate_chip_cookies'>Chocolate Chip Cookies</a></p>
            <p><a href='/cinnamon_swirl_cake'>Cinnamon Swirl Cake</a></p>
        </main>
        <% include partials/footer %>
        <% include partials/scripts %>
    </body>
</html>
