extend layout

block content

  h2 Sauces
  p: a(href='/sweet_and_sour_sauce') Sweet & Sour Sauce
  p: a(href='/teriyaki_sauce') Teriyaki Sauce

  h2 Snacks
  p: a(href='/energy_bars') Energy Bars

  h2 Sweets
  p: a(href='/banana_pancakes') Banana Pancakes
      img(src='/images/banana_pancakes.jpg') 
  p: a(href='/chocolate_babka') Chocolate Babka
  p: a(href='/chocolate_cake') Chocolate Cake
  p: a(href='/chocolate_chip_cookies') Chocolate Chip Cookies
  p: a(href='/cinnamon_swirl_cake') Cinnamon Swirl Cake
  
  script(src='/javascripts/recipe_data.js')
  script(src='/javascripts/recipe_calculator.js')
