extend layout

block content

  div.recipe-ingredients
    h1 Banana oat pancakes
    img(src='/images/pancakes.jpeg')
    p.serves Serves: #[input(type='number', id='quantity0', value='1', min='1', max='10')]
    h3 Ingredients:
    div#pancake_recipe
      ul
        li 1 tsp white vinegar
        li 1/2 cup unsweetened almond milk
        li 2 cups rolled oats
        li 1 medium ripe banana
        li 3 tsp baking powder
        li 1 tsp baking soda
        li 1 tsp ground cinnamon
        li 1 tsp salt
        li 3 tbs sugar
        li 2 tsp vanilla extract

    h3 Instructions:
    ol
      li Add the vinegar to a 1-cup or larger liquid measuring cup. Pour in enough almond milk to make 1 cup total. Set aside for about 5 minutes.
      li Meanwhile, grind the oats into a flour by adding them to the pitcher of a blender and pulsing until fine.
      li Add the remaining ingredients to the blender. Puree, scraping down the sides once or twice if necessary, until completely combined.
      li Let the batter rest for about 5 minutes.
      li Heat a griddle or non-stick frying pan to about 160 degrees Celsius (medium heat). It’s hot enough when you sprinkle a couple drops of water onto the surface and the drops dance around. If the griddle/pan is nonstick, you shouldn’t need any oil/vegan butter. Otherwise, you may want to melt a little oil into the pan before cooking the pancakes. Pour approx. 1/3 cup per pancake onto the griddle or pan (the pancakes will be 4-5 inches in diameter). Cook for 1-2 minutes until the pancakes look dry around the edges and a little bubbly. Flip and cook on the other side until golden brown and cooked in the middle. If the pancakes brown before the middle is cooked through, try lowering your heat a bit.
      li Serve with toppings of your choice.

  div.recipe-ingredients
    h1 Chocolate chip cookies
    img(src='/images/chocolate-chip-cookies.jpg')
    p.serves Serves: #[input(type='number', id='quantity1', value='1', min='1', max='10')]
    h3 Ingredients:
    div#chocolate_chip_cookies_recipe
      ul
        li 2 cups all-purpose flour
        li 1 tsp baking powder
        li 3/4 tsp baking soda
        li 1/2 tsp fine salt
        li 1 cup dark chocolate chips
        li 1/2 cup sugar
        li 1/2 cup dark brown sugar
        li 1/2 cup canola oil
        li 1/4 cup water

    h3 Instructions:
    ol
      li In a large bowl, whisk together flour, baking powder, baking soda, and salt. Add the chocolate chips to the flour mixture and toss to coat.
      li In a separate large bowl, whisk the sugars briskly with the canola oil and water until smooth and incorporated, about 2 minutes. Note: Use fresh, soft light brown sugar. If there are clumps, break them up with the back of a spoon or your hand before whisking.
      li Add the flour mixture to the sugar mixture, and then stir with a wooden spoon or a rubber spatula until just combined and no flour is visible. Do not overmix.
      li Cover with plastic wrap. Refrigerate the dough for at least 12 hours and up to 24 hours. Do not skip this step.
      li Preheat the oven to 175 degrees Celsius. Line two rimmed sheet pans with parchment paper. Remove dough from the refrigerator and use an ice cream scoop or a spoon to portion dough into 2-inch mounds. We recommend freezing the balls of dough for 10 minutes before baking as the cookies will retain their shape better while baking.
      li Sprinkle the balls of dough with coarse-grained sea salt (if freezing, remove balls of dough from the freezer first), and bake for 12 to 13 minutes, or until the edges are just golden. Do not overbake. 

  div.recipe-ingredients
    h1 Chocolate cake
    img(src='/images/chocolate-cake.jpg')
    p.serves Serves: #[input(type='number', id='quantity2', value='1', min='1', max='10')]
    h3 Ingredients:
    div#chocolate_cake_recipe
      ul
        li 3/2 cups all-purpose flour
        li 3 tbs cocoa powder
        li 1 cup sugar
        li 1 tsp baking soda
        li 1/2 tsp salt
        li 1 tsp white vinegar
        li 1 tsp vanilla extract
        li 5 tbs vegetable oil
        li 1 cup water

    h3 Instructions:
    ol
      li Preheat the oven to 175 degrees Celsius. Grease an 8-inch square or 9-inch round cake pan.
      li Add all the dry ingredients directly to the pan and mix.
      li Make 3 depressions – 2 small and 1 large – in the mixed dry ingredients. Pour the vinegar in one of the small depressions, the vanilla in the other small depression, and the vegetable oil in the large depression. Pour water over all, and mix with a fork until smooth.
      li Bake on the middle rack of the oven for 35 minutes, until an inserted toothpick comes out clean.
      li Allow to cool. Top with your favorite frosting and enjoy!

  div.recipe-ingredients
    h1 Oat and date energy bars
    img(src='/images/energy-bars.jpg')
    p.serves Serves: #[input(type='number', id='quantity3', value='1', min='1', max='10')]
    h3 Ingredients:
    div#energybar_recipe
      ul
        li 1 cup rolled oats
        li 1 cup pitted dates
        li 1/4 cup shredded coconut
        li 1/2 cup of your chosen ingredients (dried fruit, nuts, seeds)
        li 1 tbs coconut oil

    h3 Instructions:
    ol
      li Soak the dates in room temperature water for at least 10 minutes, ideally longer.
      li Line a baking tray with some baking parchment that is twice it’s length so that half rolls off one end.
      li Put your oats and other ingredients in a large bowl.
      li Drain and wash the dates and put in a food processor. Blend until they have turned into a sticky paste. Persevere here – it will blend! If it needs a little help add 1/2 – 1 tbsp of melted coconut oil.
      li Once blended add to the oat mix.
      li Once loosely blended turn it out on to the baking tray and flatten slightly. Fold the other half of the parchment over the mixture and flatten with your hands. Use a rolling pin to flatten it out completely into a square or rectangle, using your hands to mould and straighten the edges.
      li Put in the fridge for at least two hours to allow to set. Once set use a knife to cut into bars.

  script(src='/javascripts/recipe_data.js')
  script(src='/javascripts/recipe_calculator.js')
