extend layout

block content

  div.recipe_ingredients
    h1 Sweet & Sour Sauce
    img(src='/images/sweet_and_sour_sauce.jpg')
    p.serves Serves: #[input(type='number', id='quantity', value='1', min='1', max='10')]
    h3 Ingredients:
    div#sweet_and_sour_sauce
      ul
        li 1/4 cup ketchup
        li 1/2 tsp soy sauce
        li 1/4 cup white vinegar
        li 1/4 cup brown sugar
        li 1/2 cup cold water
        li 3/2 tbs corn starch

    h3 Instructions:
    ol
      li In a small saucepan, combine the first 5 ingredients.
      li In a cup or bowl whisk the cold water with cornstarch or pineapple juice until smooth and combined, then whisk in ketchup mixture
      li bring to a boil stirring or whisking constantly over medium-high heat until bubbly and thickened (the sauce will continue to thicken more while simmering).
      li Cool slightly and use immediately or refrigerate.

  script(src='/javascripts/recipe_data.js')
  script(src='/javascripts/recipe_calculator.js')
