extend layout

block content

  div.recipe_ingredients
    h1 Teriyaki Sauce
    img(src='/images/teriyaki_sauce.jpg')
    p.serves Serves: #[input(type='number', id='quantity', value='1', min='1', max='10')]
    h3 Ingredients:
    div#teriyaki_sauce
      ul
        li 1/2 cup soy sauce
        li 1/4 cup mirin
        li 1/4 cup sake
        li 2 tbs sugar

    h3 Instructions:
    ol
      li In a small saucepan, combine soy sauce, mirin, sake and sugar.
      li Heat over a medium-high flame while stirring the mixture well.
      li Lower the heat to medium and bring the sauce to a boil, then turn down the heat to low. Simmer the sauce for a few minutes until the sauce reduces slightly.
      li Remove the pan from the heat and allow the teriyaki sauce to cool.

  script(src='/javascripts/recipe_data.js')
  script(src='/javascripts/recipe_calculator.js')
