@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

body
  font-family 'Source Code Pro', monospace

img
  width 350px
  height 300px
  float right

.header
  background url('/images/header.jpg')
  background-size cover
  background-position center
  .page-title
    font-weight 200
    font-size 70px
    text-align left
    padding 100px
    text-transform uppercase
    color #fff
    margin 0

.navbar
  border-radius 0
  margin-bottom 0 !important
  text-align center
  li
    display inline-block
    a
      font-size 1.2em
      padding 20px
      color #fff
      &:hover
        background-color #3AB795 !important

.main-content
  margin 50px auto
  max-width 1000px
  p
    line-height 1.6
    margin-bottom 1.7em

.serves
  font-size 1.2em

.recipe-ingredients
  border 1px solid #cacaca
  padding 20px
  margin-bottom 50px
  h1
    margin-bottom 20px
  ul
    margin 20px
    padding 0
    li
      margin-bottom 5px
  ol
    margin 20px
    padding 0
    li
      margin-bottom 5px

.footer
  margin 50px auto
  max-width 1000px
  border-top 1px solid
  padding 20px 0
  p
    font-size 12px
